parameters:
    checkMissingIterableValueType: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 8
    scanFiles:
        - ../../../oxideshop-ce/source/oxfunctions.php
        - ../../../oxideshop-ce/source/overridablefunctions.php
